<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <b><%= data %></b>
    <b><%= age %></b>
    <b><%- address %></b>
    <hr>
    <% if(age>=18){ %>
        <h1>ผ่านเกณ</h1>
    <% } else{%>
        <h1>ไม่ผ่าน</h1>
    <%}%>
</body>
</html>